tr {
    height: 30px;
}

td {
    background-color: #424250;
    width: 80px;
    color: white;
    padding: 5px;
}

.moda {
    background-color: #BB86FC;
    color: white;    
  
}

.casa {
    background-color: #00C4B4;
    color: white;
}
