p {
    margin: 40px 20px;
    padding: 20px;
}

.paragrafo-normal {
    background-color: #F5F5F5; 
}

.paragrafo-destacado {
    background-color: #F0CCE2;
    color: rgba(5, 99, 83, 0.6);
    font-style: italic;
}
